* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
  margin: 2rem;
}

header {
  font-size: 5rem;
  font-family: Montserrat;
  color: deeppink;
  margin-bottom: 1.5rem;
}

.input-field {
  margin: 1rem;
  border: 2px solid #eee;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  text-align: left;
  width: 200px;
  height: 35px;
}

.add-todo {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
}

.add-todo:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.list {
  margin: 0 auto;
  width: 300px;
}

.list-items {
  margin: 1.7rem;
  border-bottom: 1px solid grey;
  font-family: Quicksand;
  font-size: 1.25rem;
}

.btn {
  margin: 1rem 0.5rem 2rem 0.5rem;
}

.complete-btn {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  padding:5px;
  border:none;
  background-color: greenyellow;
  color:black;
  font-weight:600;
  border-radius:5px;
}

.remove-btn {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  padding:5px;
  border:none;
  background-color: red;
  color:#fff;
  font-weight:600;
  border-radius:5px;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}